*{
  margin-top:2px;
}
body {
 
  background-image: url("../images/Web\ capture_7-6-2023_191032_.jpeg");
  background-repeat: no-repeat;
background-size:cover;
 
 
}
.contact{
  text-align: center;
  color: white;
 margin-top: 120px;
}
.contact h1{
  font-size:70px;
  font-family: 'Caveat', cursive;
}

.icon-newStyle{
  color:white !important;
  font-size:70px !important;
  padding:35px;
    }

    .menu{
      text-align: center;
      color: white;
      margin-top:50px;
    }

.menu h6{
  font-size:25px;
  font-weight: 100;
}     
.menu a{
  color: white;
  font-size: 25px;
  padding:50px;
  text-decoration: none;
  /* position:relative;
  top:15px; */
}
.menu .logo{
width: 100px;
height: 100px;
margin-left:60px;
position:relative;
top: 40px;

}
.menu .logo img{
width: 170px;
height: 170px;
}

/* media query */
 @media (max-width:2560px)
{

    .contact{
      margin-top: 300px;
    }
     .menu{
     margin-top:400px;
    }
     .menu .logo{
       left:300px;
    
       
     }
}
@media (max-width:2150px)
{
.contact{
  margin-top: 100px;
}
.menu{
  margin-top:400px;
}
.menu .logo{
  left:400px;
  
}

}
 @media (max-width:2000px)
{

    .contact{
      margin-top:140px;
    }
     .menu{
     margin-top:250px;
    }
    .menu h6{
      margin-bottom:50px;
     }
     .menu .logo{
       left:220px;
    
       
     }
}
@media (max-width:1640px)
{
  .menu{
    margin-top:80px;
  }
    .menu .logo{
     top:80px;
      left:130px;
    }

}
 

@media (max-width:1440px)
{
  .menu{
    margin-top: 40px;
  }
    .menu .logo{
     top:80px;
      left:190px;
    }

    .menu h6 a{
      font-size:18px;
      
    }  
      .menu .logo img{
      width:100px;
      height:100px;
      }


}
 

@media (max-width:1024px)
{
.contact h1{
  font-size:50px;
}
.icon-newStyle{
  font-size:50px !important;
  
    }

  .menu{
    margin-top: 10px;
  }
    .menu .logo{
      top:50px;
      left: 30px;
    }

    .menu h6 a{
      font-size:18px;
      
    }  
      .menu .logo img{
      width:100px;
      height:100px;
      }


}
 

/* tablet */


@media (max-width:768px) 
{
body {
  background-size:auto;
  }
.contact h1{
  font-size:40px;
}
.icon-newStyle{
  font-size:50px;
  
    }
    .contact{
    
      margin-top: 100px;
     }

    .menu{
      position:relative;
     top:100px;
    }
    .menu h6{
      font-size:15px;
   }     
   .menu a{
     
      font-size:20px;
      padding:30px;
      
   }
   .menu .logo{
    left:-40px;
    width: 40px;
  }
  
}

@media (max-width:600px) 
{
body {
 

 
background-size:auto;
 
 
}

.contact h1{
  font-size:40px;
}
.icon-newStyle{
  font-size:40px !important;
  padding: 15px;
  
    }
    .contact{
    
      margin-top:120px;
     }

    .menu{
     margin-top: 20px;
    }
    .menu h6 a{
      font-size:13px;
   }     
   .menu a{
  
    font-size: 13px;
    padding:10px;
    
 }
 .menu .logo{
 
  top: 20px;
  margin: auto;
}
.menu .logo img{
  width: 70px;
  height:70px;

}

}